*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #dad6c9;
    color: #111010;
    height: 100vh;
    line-height: 1.2;
    /* overflow: hidden; */
}

.container{
    width: 100%;
    height: 100%;
    /* overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

.navbar{
    position: fixed;
    top: o;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: #ccc8bc;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #111010;
    font-family: 'Press Start 2P', cursive;
}

.navbar ul li a:hover{
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0; 
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #111010;
    }

    .navbar__menu.active{
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo{
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item{
        width: 100%;
    }

    .navbar__links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transition: translate(5%, 20%);
    }

    .navbar__btn{
        padding-bottom: 2rem;
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* section CSS */

 #home{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#work{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#intrests{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#closet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#work_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
 
#programs{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    text-align: left;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#projects{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    text-align: left;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#intrests_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

#closet_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}


p{
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
}

/* home section CSS */

  .home h1{
    font-size: 8rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top,  #b3b1b1 0%, black 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
 }

 .home h2{
    font-size: 5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, black 0%, #b3b1b1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
 }

 .home p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: black;
    text-align: center;
    font-family: 'Russo One', sans-serif;

 }

.main__btn{
    font-size: 1rem;
    background: red;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    left: center;
    font-family: 'Russo One', sans-serif;
    width: 40rem;
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover{
    color: #fff;
}

.main__btn:hover:after{
    width: 100%;
}

/* work section CSS */

.work h1{
    font-size: 4rem;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.work h2{
    font-size: 2rem;
    color: black;
    font-family: 'Russo One', sans-serif;
}

.work__btn{
    font-size: 1rem;
    background: red;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-family: 'Russo One', sans-serif;
    width: 40rem;

}

.work__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.work__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.work__btn:hover{
    color: #fff;
}

.work__btn:hover:after{
    width: 100%;
}

/* closet section CSS */

.closet h1{
    font-size: 4rem;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.closet h2{
    font-size: 2rem;
    color: black;
    font-family: 'Russo One', sans-serif;
}

.closet__btn{
    font-size: 1rem;
    background: red;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-family: 'Russo One', sans-serif;
    width: 40rem;
}

.closet__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.closet__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.closet__btn:hover{
    color: #fff;
}

.closet__btn:hover:after{
    width: 100%;
}

/* intrests section CSS */

.intrests h1{
    font-size: 4rem;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.intrests h2{
    font-size: 2rem;
    color: black;
    font-family: 'Russo One', sans-serif;
}

.intrests__btn{
    font-size: 1rem;
    background: red;
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
    font-family: 'Russo One', sans-serif;
    width: 40rem;
}

.intrests__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.intrests__btn:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.intrests__btn:hover{
    color: #fff;
}

.intrests__btn:hover:after{
    width: 100%;
}

@media screen and (max-width: 768px){
    .main__container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content{
        text-align: center;
        margin-button: 4rem;
        
    }

    .main__content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
        
    }

    .main__content h2{
        font-size: 3rem;
    }

    .main__content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

.work__content{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-width: 60rem;
    margin: 0 auto; 
    
}

.work__content h1{
    font-size: 10rem;
    font-display: flex;
    font-family: 'Press Start 2P', cursive;
}
.work__content h2{
    font-size: 5rem;
    font-family: 'Russo One', sans-serif;
}

.work__programs h1{
    font-size: 2rem;
    font-display: flex;
    font-family: 'Press Start 2P', cursive;
}
.work__programs h2{
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
}
.work__programs p{
    font-size: 2rem;
    font-display: flex;
    font-family: 'Russo One', sans-serif;
}

.work__projects h1{
    font-size: 2rem;
    font-display: flex;
    font-family: 'Press Start 2P', cursive;
}
.work__projects h2{
    font-size: 2rem;
    font-family: 'Russo One', sans-serif;
}
.work__projects p{
    font-size: 2rem;
    font-display: flex;
    font-family: 'Russo One', sans-serif;
}

.intrests__content h1{
    font-size: 10rem;
    font-display: flex;
    font-family: 'Press Start 2P', cursive;
}
.intrests__content h2{
    font-size: 5rem;
    font-family: 'Russo One', sans-serif;
}

.closet__content h1{
    font-size: 10rem;
    font-display: flex;
    font-family: 'Press Start 2P', cursive;
}
.closet__content h2{
    font-size: 5rem;
    font-family: 'Russo One', sans-serif;
}